.wrapper_setting{
    position: fixed;
    top: 65px;
    bottom: 10px;
    left: -250px;
    width: 250px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
    z-index: 9999;
    padding: 10px;
    padding-bottom: 20px;
}
.wrapper_menu{
    position: fixed;
    top: 0px;
    bottom: 10px;
    left: -250px;
    width: 250px;
    min-height: 100px;
    max-height: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
    z-index: 9999;
    padding: 10px;
    padding-bottom: 20px;
    height: 100%;
    opacity: 1;
    z-index: 9999;
}
.content_box_setting {
        position: absolute;
        bottom: 0;
        top: 72px;
        width: calc( 100% - 20px );
}
.content_box_menu {
        position: absolute;
        bottom: 0;
        top: 0px;
        width: calc( 100% - 20px );
}
@media (max-width: 480px){
    .wrapper_setting{
        bottom: 0;
    }
    .content_box_setting { 
        padding-bottom: 50px;
        overflow: scroll;
    }
    .wrapper_menu{
        bottom: 0;
    }
    .content_box_menu { 
        padding-bottom: 50px;
        overflow: scroll;
    }
}
@media screen and (max-width: 480px) {
    .wrapper_setting {
        width: 300px;
        left: -300px;
    }
    .wrapper_menu {
        width: 300px;
        left: -300px;
    }
}
.button_show_setting{
    box-shadow: 0 2px 4px 2px #fff;
    height: 35px;
    width: 35px;
    position: absolute;
    right: -35px;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #1d769c;
    text-align: center;
    line-height: 35px;
    color: #fff;
    cursor: pointer;

}
.button_show_menu{
    height: 35px;
    width: 35px;
    font-size: 25px;
    position: absolute;
    right: -35px;
    top: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: transparent;
    text-align: center;
    line-height: 35px;
    color: #385f1a;
    cursor: pointer;
    margin-top: 18px;
}
.wrapper_setting h2{
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.title_item_setting{
    padding: 5px;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 13px;
}
.content_box_setting ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.content_box_setting .list_change_color li{
    width: 50% ;
    padding: 5px;
    float: left;
}
.content_box_setting .list_change_color li span{
    width: 50%;
    float: left;
    display: block;
    height: 30px;
}
.style_color_1 .color1{
    background: #77BE1A
}
.style_color_1 .color2{
    background: #1E1E21
}
.style_color_2 .color1{
    background: #C74747
}
.style_color_2 .color2{
    background: #E3C048
}
.style_color_3 .color1{
    background: #2BBBD8
}
.style_color_3 .color2{
    background: #FFB502
}
.style_color_4 .color1{
    background: #EB8278
}
.style_color_4 .color2{
    background: #5CC1B9
}



.list_change_language{
    
}
.list_change_language li:hover{
    background: #eee;
}
.list_change_language li a{
    display: block;
    padding: 5px;
}
.list_change_language li:hover a{
    text-decoration: none;
}
.list_change_language li.active{
    background: #ddd;
}
.list_change_language li{
    display: block;
    overflow: hidden;
    line-height: 22px;
}
.list_change_language li img{
    float: left;
    width: 35px;
    height: 20px;
    display: block;
    margin-right: 5px;
}
/* ==========================================menu mobile =======================*/
.nav-side-menu {
  overflow: auto;
  font-size: 13px;
  font-weight: 200;
  background-color: #fff;
  position: fixed;
  top: -8px;
  width: 300px;
  height: 100%;
  color: #222222;
  padding: 0;
}
.nav-side-menu .brand {
  background-color: #385f1a;
  line-height: 45px;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  padding-left: 25%;
  color: #fff;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #1d769c;
  background-color: #fff;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #222222;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #222222;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #ddd;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #385f1a;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #222;
  padding-left: 10px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #1d769c;
  background-color: #ddd;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
