.add-block i{
    margin-left: 2px;
}

#slider-section .col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

#slider-section .glyphicon-chevron-left{
    margin-left: 15px;
}

#slider-section .glyphicon-chevron-right{
    margin-right: 15px;
}

.fa-shopping-cart span{
    font-size: 95%;
}

#cs-buttons-coin-slider{
    z-index: 3000;
    bottom: 30px;
}

#cs-buttons-coin-slider .cs-buttons a{
    height: 15px;
    width: 15px;
    border: 2px solid #B8C4CF;
}

#coin-slider-coin-slider{
    height: 535px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .menu-block{
      margin-top: -5px;
  }

@media (min-width: 768px) {
    .distance-header-content {
      margin-top: 135px;
    }
  }

.menu-block .row{
    background-color: #385f1a;
    margin-left: 0px;
    margin-right: 0px; 
}

.menu-block .col-md-2{
    padding-right: 0px;
}

#slider-section{
    margin-top: -6px;
}

#modal_main .modal-dialog{
    margin-top: 200px;
}

.product-name{
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    height: 40px;
}

.product-name a{
   font-weight: 500;
   text-decoration-color:rgb(17, 17, 17);
   color:black !important;
}

.product-price{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

#modal_main_add_to_cart .modal-dialog{
    margin-top: 200px;
}

.btn_add_cart{
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
}

.btn_add_cart:hover{
    background: black !important;
    color: white !important;
}

.btn_add_cart span{
    font-size: 14px;
}

.btn_add_cart_main{
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
}

.btn_add_cart_main:hover{
    background: black !important;
    color: white !important;
}

.btn_add_cart_main span{
    font-size: 14px;
}

.product-item{
    text-align: center;
}

.btn_add_cart span{
    padding-left: 15px;
}

.new-products-section{
    margin-top: 20px;
}

.category_product img:hover{
    box-shadow: #CCCCCC 3px 3px 3px 3px !important;
}

.index-cat-product{
    height:305px;
}

.index-cat-product img{
    height:280px;
}

.category_product{
    margin-top: 20px;
}

.political-world-section{
    margin-top: 20px;
}

.footer_contact .form_user {
    border: 0px !important;
}

.block_title_footer{
        border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.gradeX .fixed-button{
        padding-right: 6px !important;
    padding-left: 6px !important;
}

.right_detail_product .btn_add_cart {
    margin-top: 0px !important;
    padding: 10px 100px !important;
    background: black !important;
    color: white !important;
}

.right_detail_product .btn_add_cart:hover{
    background: rgb(51, 51, 51) !important;
}

.eagle-gallery.img400 .eagle-medium-wrap {
    height: 300px !important;
}

.eagle-gallery .owl-carousel.mini-slider .owl-item img {
    height: 165px !important;
    weight: 165px !important;
}

.bottom_detail_product{
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.block_shipping{
    margin-top: 15px;
    margin-bottom: 24px;
    border-top: 1px solid #e1e1e1;
    padding-top: 24px;
    line-height: 22px;
}

.delivery-text{
    padding-bottom: 3px !important;
    border-bottom: 2px solid #111 !important;
    letter-spacing: 0.8px !important;
    font-style: normal !important;
    font-family: 'Open Sans',Arial, sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.menu-block .row{
    background-color: white !important;
}

.menu-block ul li a{
    color: black !important;
}

.menu-block ul li a:hover{
    background-color: white !important;
    text-decoration: underline !important; 
}

.logo-add-block{
    margin-top: -5px;
}

.trademark-item .image-box{
    background-size: contain;
    background-repeat: no-repeat;
    object-position: center;
}

.button-arrow, .input-text{
    color:black;
    font-size: 30px;
    display: block;
    float: left;
    font-weight: 700;
    width: 50px;
    height: 50px;
}

.input-text{
    text-align: center;
    width: 14%;
}

.button-up{
    margin-right:15px;
}

.new_price{
    font-size: 190% !important;
    padding-bottom: 5px;
    line-height: 30px;
}

.product-item .old_price {

    color: #6f6f6f;
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
}

.mega-dropdown-menu-new a{
    text-transform: capitalize !important;
}

.branch-title{
    color: black;
}

.highlight-link a:hover{
    color: #385f1a !important;
    text-decoration: underline !important;
}

.title-homepage{
    text-align: center;
    font-size: 28px;
}

.box-content a{
    font-weight: bold;
    text-align: center;
}

.menu_lv1{
    padding-left: 5px;
    font-weight: bold;
}

.theme-background-color{
    background-color: #385f1a !important;
}

@media screen and (max-width: 767px){
    .fa-shopping-cart span{
    font-size: 70%;
    }
    
    .menu-block-nofix i{
        color: #385f1a;
        font-size: 26px;
    }   
    
    .menu-block-nofix .col-xs-1{
        padding: 0px;
        padding-top: 25px;
    }
    
    .menu-block-nofix .col-xs-3{
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 23px;
    }
    
    .menu-block-nofix .col-xs-3 .label{
        padding: 1px 6px;
    }
    
    .trademark-item .image-box {
        margin-left: 54px;
    }
    
    .menu-block-nofix img{
        margin-left: 10% !important;
    }
    
    .new_price {
        font-size: 145% !important;
    }
    
    .right_detail_product .btn_add_cart {
        padding: 10px 95px !important;
    }

    
    #modal_main_add_to_cart .modal-dialog {
        margin-top: 110px;
    }
    
    #modal_main_add_to_cart_content{
        padding-top: 0px;
    }
    
    .search-mobile{
        margin-top: -30px;
        margin-left: 0px;
    }
    
    .search-mobile .btn{
        padding: 6px 9px;
    }
    
    .ml-2{
        margin-top: 12px;
    }
    
    #category-post-section .product-name {
    height: 75px;
    }
    
    #category-post-section .product-item {
        height: 410px;
    }

    #category-post-section .product-price {
        margin-bottom: 5px; 
    }
    
    #category-post-section .space_mobile{
        margin-bottom: 28px;
    }
    
    .pi-img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    object-fit: contain;
    }
    
    #new-products-slider .product-item {
        height: 360px;
    }
    
    .product-item{
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
    
    .menu-block-nofix {
        box-shadow: 0px 2px 5px rgba(0,0,0,0.35);
        margin-bottom: 30px;
        background-color: #fff;
        width: 100%;
        height: 70px;
    }
    .phonenow {
        left: 0px;
        bottom: 0px;
        height: 52px;
        position: fixed;
        width: 100%;
        background-color: #385f1a;
        border-bottom: 2px solid #222222;
        border-radius: 2px 2px 0px 0px;
    }
    .phonenow a{
        padding-left: 15%;
        color: #fff;
        font-weight: 900;
        font-size: 25px;
    }
}

.breadcrumb{
    padding-top: 40px !important;
}

.breadcrumb li{
    font-size: 16px !important;
}

body{
	overflow-x: hidden !important;
}

.top-header li a{
    color: white !important;
    font-size: 14px !important;
}

.top-header li{
    color: white !important;
    font-size: 14px !important;
    padding-right: 20px;
}

.top-header li:last-child{
    padding-right: 0px;
} 

.top-header li a:hover{
    color: white !important;
}

.popup_quickbuy .new_price{
    display: block;
    float: left;
    color: #385f1a;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 0px;
    width: 50%;
}

.popup_quickbuy .old_price{
    display: block;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through
}

.ml-2{
    margin-bottom: 25px;
    height: 50px;
}

.popup_quickbuy .btn_add_cart{
    padding: 14px;
} 

.popup_quickbuy .description{
    margin-top: 20px;
}

.popup_quickbuy img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.right_detail_product .input-text{
    width: 50px;
}

.right_detail_product .new_price, .right_detail_product .old_price{
    margin-top: 10px;
}

.label{
    font-family: 'Open Sans',Arial, sans-serif;
}

.dropdown-menu-test{
    position: absolute;
    left: 0;
    top: 100%;

  z-index: 99999;
  visibility: hidden;

  background: rgba(255, 240, 240, 0.8);
  


}

.menu-block li.dropdown:hover > .dropdown-menu-test{
    display: block;
}


@media only screen and (min-width: 768px){
    .menu-block .nav > li{
        position : static !important;
    }
    
    .menu-block .dropdown {
        position : static !important;
    }
    
    .navbar li li {display: inline-block;}
    
    .menu-block li:hover .sub_menu_lv2{
        display: flex !important;
    }
    
    .sub_menu_lv2 .menu_left, .menu_left1{
        width: 60%;
        padding: 10px 0px;
        padding-left: 100px;
    }
    .sub_menu_lv2 div.banner{
        width: 40%;
        padding: 10px 40px 10px 0px
    }
    
    .sub_menu_lv2 div.banner img{
        width: 400px;
        height: 180px;
    }
    
    .sub_menu_lv2 .menu_left li, .menu_left1 li{
        width: 200px;
}

    .phonenow a{
        color: #385f1a;
        font-weight: 900;
        font-size: 25px;
    }
}


.breadcrumb{
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 200;
}
.breadcrumb ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
}
.breadcrumb ul li{
    float: left;
    margin-right: 10px;
}

.breadcrumb ul li a{
    font-size: 14px;
}

.breadcrumb ul li a:hover{
    text-decoration: underline;
}

.breadcrumb ul li i{
    margin-right: 10px;
    font-size: 14px;
}

.breadcrumb ul li span{
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.footer-bottom {
    background-color: #385f1a;
}

.box-icon {
    position: relative;
    display: block;
    float: left;
    width: 140px;
    height: 90px;
    padding-left: 15px;
}

.footer_contact .box-icon img {
    width: auto;
}

.footer_contact .box-txt {
    position: relative;
    display: block;
    float: left;
    width: 235px;
    height: 90px;
    padding-top: 25px;
}

.footer_contact .form_user {
    position: relative;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    width: calc(100% - 375px);
}

.footer_contact .form_user .content_form{
    float:left;
    width: calc(100% - 200px);
}

.footer_contact .form_user input{
    height: 40px;
    float:left;
    width: 60%;
}

.footer_contact .form_user button{
    height: 40px;
}

.footer-section .item-col {
    position: relative;
    display: inline-block;
    float: none;
    width: calc((100% - 15px) / 5);
    margin-top: 20px;
    vertical-align: top;
    min-height: 1px;
    padding-right: 20px;
}


.footer-section .info h4{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.footer-section b, .footer-section a, .footer-section p {
    font-size: 14px;
}

.footer-section ul{
    margin-top: 0px;
    padding-left: 15px;
}